<section>
    <h1 class="text-center text-4xl text-blue-700 font-semibold mb-5">Linked Posts</h1>
    <form class="example-form mx-auto" [formGroup]="registerform">
        <mat-form-field class="example-full-width mb-5">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
                placeholder="Type your Name" >
            @if (registerform.get('name')?.hasError('minlength') || registerform.get('name')?.hasError('maxlength')  && !registerform.get('name')?.hasError('required')) {
            <mat-error>Please enter a valid name</mat-error>
            }
            @if (registerform.get('name')?.hasError('required')) {
            <mat-error>Name is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width mb-5">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            @if (registerform.get('email')?.hasError('email') && !registerform.get('email')?.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
            @if (registerform.get('email')?.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width mb-5">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
                placeholder="Type Password">
            @if (registerform.get('password')?.hasError('pattern') && !registerform.get('password')?.hasError('required')) {
            <mat-error>Password should be at between 8 - 15 characters long and should contain one number,one
                upper and lower case character and one special character</mat-error>
            }
            @if (registerform.get('password')?.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width mb-5">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="rePassword" [ngModel]="prints()" [errorStateMatcher]="matcher"
                placeholder="Type Password">
            @if (registerform.get('rePassword')?.hasError('mismatch') && registerform.get('rePassword')?.touched) {
            <mat-error>Password mismatch</mat-error>
            }
            @if (registerform.get('rePassword')?.hasError('required')) {
                <mat-error>Confirming the password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [errorStateMatcher]="matcher">
            @if (registerform.get('dateOfBirth')?.hasError('required')) {
                <mat-error>DateOfBirth is <strong>required</strong></mat-error>
            }
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
           
          </mat-form-field>
          <mat-radio-group class="example-full-width mb-5 block" aria-label="Select an option">
            <mat-radio-button value="1">Male</mat-radio-button>
            <mat-radio-button value="2">Female</mat-radio-button>
          </mat-radio-group>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign Up</button>
    </form>
</section>